{% extends "error/base.error.jinja" %}


{% block title %}Whoops, we can't find that page{% endblock %}


{% block content %}
<h1 class="cover-heading">Whoops, we can't find that page.</h1>
<p class="lead">You might want to double-check your link and try again. (404)</p>
{% endblock %}
