{% extends "error/base.error.jinja" %}


{% block title %}Uh-oh, something went wrong{% endblock %}


{% block content %}
<h1 class="cover-heading">Uh-oh, something went wrong.</h1>
<p class="lead">Please try again in a few minutes. (500)</p>
{% endblock %}