{% extends "base.jinja" %}
{% block title %}About :: DC Food Trucks Today{% endblock %}


{% block content %}
<div class="container main">
    <div class="inner">
        <div class="headline">FAQs</div>
        <div class="questions">
            <dl>
              <dt>What's going on here?</dt>
              <dd>DC Food Trucks Today is a real-time map of all the scrumptious food trucks in the Washington DC area. Locations are updated by analyzing recent tweets of food truck Twitter accounts and cross referenced with <a href="http://dcra.dc.gov/publication/mobile-roadway-vehicle-mrv-vending-lottery-results" target="_blank">DC.gov's</a> published food vendor location lottery results. In addition, food trucks owners can log in to further customize their locations throughout the day.</dd>
              <dt>How can I reach you?</dt>
              <dd>Feel free to reach us by email at <a href="mailto:hello@dcfoodtrucks.today">hello@dcfoodtrucks.today</a>.</dd>
              <dt>Who's behind DC Food Trucks Today?</dt>
              <dd>Thanks for asking. It was made by <a href="https://twitter.com/brensudol" target="_blank">Brendan Sudol</a>, a recent resident to the DC area who averages around 3 food truck meals a week.</dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}
